<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tienda de libros</title>

    <!--Header-->
    <Link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet">
    <header th:insert="~{home/Template_login.html :: Templatelogin}"></header>
    <header th:insert="~{home/template_user.html :: header}"></header>


</head>
<style>
    .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
    }
</style>

<body>
    <!-- Login 4 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="card border-light-subtle shadow-sm">
        <div class="row g-0">
          <div class="col-12 col-md-6">
            <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" th:src="@{/images/login.jpg}" alt="BootstrapBrain Logo">
          </div>
          <div class="col-12 col-md-6">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <h3 style="color: #303f9f;">Iniciar Sesion</h3>
                  </div>
                </div>
              </div>
              <form th:action="@{/usuario/iniciarSesion}" method="post">
                <div class="row gy-3 gy-md-4 overflow-hidden">
                  <div class="col-12">
                    <label for="email" style="color: #303f9f;" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="correo" id="email" placeholder="name@example.com" required>
                  </div>
                  <div class="col-12">
                    <label for="password" style="color: #303f9f;" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="clave" id="password" value="" required>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button style="background-color: #303f9f;" class="btn bsb-btn-xl btn-primary" type="submit">Ingresar</button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-12">
                  <hr class="mt-5 mb-4 border-secondary-subtle">
                  <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                    <a th:href="@{/usuario/crearCuenta}" class="link-primary text-decoration-none">¿No tienes cuenta? </a>
                    <a href="#!" class="link-primary text-decoration-none">Password olvidado</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="mt-5 mb-4">Nuestras redes sociales</p>
                  <div class="d-flex gap-3 flex-column flex-xl-row">
                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary" style="color: #303f9f;">
                        <i class="fab fa-facebook"></i>
                      <span class="ms-2 fs-6" style="color: #303f9f;">Facebook</span>
                    </a>
                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary" style="color: #303f9f;">
                        <i class="fab fa-google"></i>
                      <span class="ms-2 fs-6" style="color: #303f9f;">Google</span>
                    </a>
                    <a href="#!" class="btn bsb-btn-xl btn-outline-primary" style="color: #303f9f;">
                        <i class="fab fa-github"></i>
                      <span class="ms-2 fs-6" style="color: #303f9f;">Twitter</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<footer th:insert="~{home/footer.html :: footer}"></footer>
<script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>

</html>