<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tienda de libros</title>

    <!--Header-->
    <Link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

    <header th:insert="~{home/Template_login.html :: Templatelogin}"></header>
    <header th:insert="~{home/template_user.html :: header}"></header>
    
    <!--Bootstrap core JavaScript-->
    <footer th:insert="~{home/footer.html :: footer}"></footer>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>

</body>
</html>