<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Tienda de libros</title>

	<!--Header-->
	<Link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/css/search.css}" rel="stylesheet">

</head>
 <style>
	.center-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<body>

	<header th:insert="~{home/Template_login.html :: Templatelogin-visitor}"></header>
	<header th:insert="~{home/template_admin.html :: templateAdmin}"></header>

	<section class="p-3 p-md-4 p-xl-5">
		<div class="container">
			<div class="card border-light-subtle shadow-sm">
				<div class="row g-0">
					<div class="col-md-6 text-center center-container ">
						<img src="https://via.placeholder.com/300" alt="Product Image" class="product-image "
							id="productImagePreview" width="600" height="600">
						<div class="text d-block">
							<label for="productImage" class="form-label custom-file-upload ">
								<i class="bi bi-upload"></i> Subir Imagen del Producto
							</label>
							<input type="file" class="form-control" id="productImage" accept="image/*"
								style="display: none;" onchange="previewImage(event)">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="card-body p-3 p-md-4 p-xl-5">
							<div class="row">
								<div class="col-12">
									<div class="mb-5">
										<h3 style="color: #303f9f;">Formulario Libro</h3>
									</div>
								</div>
							</div>
							<form action="#" method="post">
								<div class="row gy-3 gy-md-4 overflow-hidden">
									<div class="col-12">
										<label for="email" style="color: #303f9f;" class="form-label">Nombre <span
												class="text-danger">*</span></label>
										<input type="text" class="form-control" name="correo" id="email"
											placeholder="Nombre del libro" required>
									</div>
									<div class="col-12">
										<label for="password" style="color: #303f9f;" class="form-label">Sipnosis <span
												class="text-danger">*</span></label>
										<textarea type="text" class="form-control" placeholder="Sipnosis del libro"
											name="clave" id="password" value="" required></textarea>
									</div>

									<div class="row">
										<div class="col-md-6 mb-4">
											<br>
											<label for="telefono" style="color: #303f9f;" class="form-label">Peso <span
													class="text-danger">*</span></label>
											<input type="number" class="form-control" placeholder="Peso" required>
										</div>
										<div class="col-md-6 mb-4">
											<br>
											<label for="fechaNacimiento" style="color: #303f9f;" class="form-label">Alto
												<span class="text-danger">*</span></label>
											<input type="number" class="form-control" placeholder="Alto" required>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 mb-4">
											<br>
											<label for="telefono" style="color: #303f9f;" class="form-label">Ancho<span
													class="text-danger">*</span></label>
											<input type="number" class="form-control" placeholder="Ancho" required>
										</div>
										<div class="col-md-6 mb-4">
											<br>
											<label for="fechaNacimiento" style="color: #303f9f;"
												class="form-label">Fecha publicacion <span
													class="text-danger">*</span></label>
											<input type="date" class="form-control" required>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 mb-4">
											<br>
											<label for="telefono" style="color: #303f9f;" class="form-label">Numero de
												paginas<span class="text-danger">*</span></label>
											<input type="number" class="form-control" placeholder="Numero paginas"
												required>
										</div>
										<div class="col-md-6 mb-4">
											<br>
											<label for="fechaNacimiento" style="color: #303f9f;" class="form-label">ISBN
												<span class="text-danger">*</span></label>
											<input type="text" class="form-control" placeholder="ISBN" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-4">
											<div>
												<label for="fechaNacimiento" style="color: #303f9f;"
													class="form-label">Autor
													<span class="text-danger">*</span></label>
												<input type="text" id="mySearch" onkeyup="myFunction()"
													placeholder="Buscar.." title="Type in a category">

												<ul id="myMenu" style="display: none;">
													<li><a href="#">HTML</a></li>
													<li><a href="#">CSS</a></li>
													<li><a href="#">JavaScript</a></li>
													<li><a href="#">PHP</a></li>
													<li><a href="#">Python</a></li>
													<li><a href="#">jQuery</a></li>
													<li><a href="#">SQL</a></li>
													<li><a href="#">Bootstrap</a></li>
													<li><a href="#">Node.js</a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 mb-4">
											<div>
												<label for="fechaNacimiento" style="color: #303f9f;"
													class="form-label">Editorial
													<span class="text-danger">*</span></label>
												<input type="text" id="mySearch" onkeyup="myFunction()"
													placeholder="Buscar.." title="Type in a category">

												<ul id="myMenu" style="display: none;">
													<li><a href="#">HTML</a></li>
													<li><a href="#">CSS</a></li>
													<li><a href="#">JavaScript</a></li>
													<li><a href="#">PHP</a></li>
													<li><a href="#">Python</a></li>
													<li><a href="#">jQuery</a></li>
													<li><a href="#">SQL</a></li>
													<li><a href="#">Bootstrap</a></li>
													<li><a href="#">Node.js</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-4">
											<select class="form-select" aria-label="Default select example" id="genero"
												name="genero" style="color: #303f9f;" required>
												<option selected>Categoria</option>
												<option>Mario</option>
												<option>Vargas</option>
												<option>Llosa</option>
											</select>
										</div>
										<div class="col-md-6 mb-4">
											<input type="number" class="form-control" placeholder="Usuario" required>
										</div>
									</div>
									<div class="col-12">
										<br>
										<div class="d-grid">
											<button style="background-color: #303f9f;"
												class="btn bsb-btn-xl btn-primary" type="submit">Guardar libro</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function previewImage(event) {
			var reader = new FileReader();
			reader.onload = function () {
				var output = document.getElementById('productImagePreview');
				output.src = reader.result;
			};
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>
	<!--Bootstrap core JavaScript-->
	<footer th:insert="~{home/footer.html :: footer}"></footer>
	<script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/js/scripts.js}"></script>

</body>

</html>