<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tienda de libros</title>
    <!--Header-->
    <Link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet">
    <header th:insert="~{home/Template_login.html :: Templatelogin}"></header>
    <header th:insert="~{home/template_user.html :: header}"></header>

</head>
<style th:inline="text">
    .img-01 {

        background:url([[@{/images/libroFondo.png}]]);
        height: 40vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        top: -15px;
        left: -25px;
    }

    .crd-ho:hover {
        background: #D3E3F3;
    }
</style>

<body style="background-color: #f7f7f7;">
        <!-- Navbar -->      
        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
            height: 40vh;
            width: 100%;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">Heading</h1>
                <h4 class="mb-3">Subheading</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                >Call to action</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
    <br><br>
    <!--Libros recientes star-->
    <div class="container">
        <h3 class="text-center">Libros Recientes </h3>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="text-center mt-1">
            <a href="" class="btn btn-danger btn-sm text-white">Ver todos</a>
        </div>
    </div>
    <!--Libros recientes final-->
    <br><br>
    <!--Libros nuevos star-->
    <div class="container">
        <h3 class="text-center">Libros Nuevos </h3>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="text-center mt-1">
            <a href="" class="btn btn-danger btn-sm text-white">Ver todos</a>
        </div>
    </div>
    <!--Libro nuevo final-->
    <br><br>
    <!--Libro antiguo start-->
    <div class="container">
        <h3 class="text-center">Libros Antiguos </h3>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="text-center mt-1">
            <a href="" class="btn btn-danger btn-sm text-white">Ver todos</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--Libro antiguo final-->

    <!--Bootstrap core JavaScript-->
    <footer th:insert="~{home/footer.html :: footer}"></footer>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>

</body>
</html>