<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tienda de libros</title>
    <!--Header-->
    <Link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet">
    <header th:insert="~{home/Template_login.html :: Templatelogin}"></header>
    <header th:insert="~{home/template_user.html :: header}"></header>

</head>
<style th:inline="text">
    .img-01 {

        background:url([[@{/images/libroFondo.png}]]);
        height: 40vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        top: -15px;
        left: -25px;
    }

    .crd-ho:hover {
        background: #fcf7f7;
    }
</style>

<body style="background-color: #f7f7f7;">

    <div class="container-fluid img-01">
        <h2 class="text-center text-white"> Administracion de la libreria</h2>
    </div>
    <!--Libros recientes star-->
    <div class="container">
        <h3 class="text-center">Libros Recientes </h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center mt-1">
            <a href="" class="btn btn-danger btn-sm text-white">Ver todos</a>
        </div>
    </div>
    <!--Libros recientes final-->

    <!--Libros nuevos star-->
    <div class="container">
        <h3 class="text-center">Libros Nuevos </h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-danger btn-sm ml-2">Carrito</a>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center mt-1">
            <a href="" class="btn btn-danger btn-sm text-white">Ver todos</a>
        </div>
    </div>
    <!--Libro nuevo final-->

    <!--Libro antiguo start-->
    <div class="container">
        <h3 class="text-center">Libros Antiguos </h3>
        <div class="row">
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card crd-ho">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{/images/auto.png}" style="width: 150px;height: 200px;"
                            class="img-thumblin">
                        <p> Manga de comedia</p>
                        <p> One piece</p>
                        <p>Categories: New</p>
                        <div class="row">
                            <p>
                                <a href="" class="btn btn-success btn-sm ml-1">Detalle del libro</a>
                                <a href="" class="btn btn-danger btn-sm ml-1">250 </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center mt-1">
            <a href="" class="btn btn-danger btn-sm text-white">Ver todos</a>
        </div>
    </div>
    <!--Libro antiguo final-->

    <!--Bootstrap core JavaScript-->
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>

</body>

</html>