<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda de libros</title>
    <Link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
    <!--Header-->
    <header th:insert="home/Template_login.html :: Templatelogin"></header>
    <header th:insert="home/template_user.html :: header"></header>

    <!--Bootstrap core JavaScript-->
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>

</body>
</html>