<html xmlns:th="http://www.thymeleaf.org">

</html>

<div th:fragment="Templatelogin">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-md-3">
                <h3>Libros</h3>
            </div>
            <div class="col-md-6">
                <form class="d-flex">
                    <input class="form-control me-2 " type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
            </div>

            <div class="col-md-3">
                <a href="" class="btn btn-success">Crear cuenta</a>
                <a href="" class="btn btn-primary">Registrarse</a>
            </div>
        </div>
    </div>
</div>