<!--Barra de navegacion-->
<html xmlns:th="http://www.thymeleaf.org"></html>
<div th:fragment="header"> 
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#303f9f ;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BookBlaz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="background-color:#303f9f;color:white;border-radius:15px;padding:5px 10px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#303f9f';" onmouseout="this.style.backgroundColor='#303f9f'; this.style.color='white';">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="background-color:#303f9f;color:white;border-radius:15px;padding:5px 10px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#303f9f';" onmouseout="this.style.backgroundColor='#303f9f'; this.style.color='white';">Libros recientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="background-color:#303f9f;color:white;border-radius:15px;padding:5px 10px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#303f9f';" onmouseout="this.style.backgroundColor='#303f9f'; this.style.color='white';">Libros nuevos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="background-color:#303f9f;color:white;border-radius:15px;padding:5px 10px;" onmouseover="this.style.backgroundColor='#fff'; this.style.color='#303f9f';" onmouseout="this.style.backgroundColor='#303f9f'; this.style.color='white';">Libros antiguos</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-light my-sm-0" type="submit">Soporte</button>
          <button class="btn btn-light my-sm-0" type="submit">Contactarse</button>
        </form>
      </div>
    </div>
  </nav>
</div>